*{
    font-family: Montserrat;
}
body{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    background-color: #fff;
}
h1{
    margin-top: 20px;
    color: #000;
    font-size: 70px;
    font-family: ubuntu;
    
}
form{
    margin: 10px 0;
    background-color: #000;
    padding: 60px 80px;
    color: #fff;
}
.head{
    padding-bottom:50px ;
}
.already{
    margin-top: -60px;
}
.here{
    text-decoration: underline;
}
